<%- include("header") -%>
    <section id="Landing">
        <!-- landing div -->
        <div class="main-div">
            <!-- featured blog section -->
            <h1 class="featured mt-5">About Me</h1>
        </div>
        <section id="Landing mb-5">
            <div class="main-div row">
                <div class="featured-container-about mt-5 col-lg-6 col-sm-12 col-md-12">
                    <a href="/">
                        <img class="main-img-about" src="images/developer.jpg" alt="featured-blog" srcset="">
                        <div class="blog-title-about">
                            <h1 class="landing-h1">
                                Kartik Singh
                            </h1>
                            <h6 class="landing-p">
                                Ethical Hacker and Web Developer
                            </h6>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-sm-12 col-md-12">

                    <p class="about-p">
                        I am a versatile professional, blending the roles of an ethical hacker and a skilled web
                        developer.
                        My passion for both cybersecurity and web development drives me to excel in these fields and
                        contribute to the community.<br>

                        As an ethical hacker, I take on the responsibility of safeguarding digital environments from
                        potential threats. With hands-on experience and a comprehensive understanding of cybersecurity
                        tools
                        like Kali Linux, Nmap, Burp Suite, and Gobuster, I conduct thorough security assessments.
                        Identifying and mitigating vulnerabilities in multiple applications ensures robust protection
                        for
                        the systems.<br>

                        Beyond my technical expertise, I am actively involved in various societies, where I hold
                        positions
                        of responsibility. As an ethical hacker, I strongly believe in the power of knowledge-sharing
                        and
                        awareness. I regularly organize educational sessions on ethical hacking tools, providing
                        in-depth
                        guidance to empower others to explore and secure digital systems ethically.<br>

                        In the realm of web development, my creativity shines through numerous projects. As a skilled
                        web
                        developer, I have successfully delivered projects using a variety of frameworks, including
                        ReactJS
                        and Node.js. My expertise extends to both front-end and back-end development, allowing me to
                        craft
                        seamless and user-friendly experiences.<br>

                        In the world of web development, security is paramount. With my background in ethical hacking, I
                        prioritize security measures while delivering cutting-edge solutions. My commitment to creating
                        a
                        safer digital space drives me to conduct comprehensive security testing on websites, identifying
                        and
                        resolving potential vulnerabilities.<br>

                        At the core of my work lies the belief in the power of technology to transform and improve
                        lives. I
                        am driven by a dedication to excellence, constantly seeking opportunities to expand my knowledge
                        and
                        skills in both cybersecurity and web development. With a growth mindset, I embrace challenges
                        and
                        approach each project with enthusiasm and creativity.<br>

                        Join me on this exciting journey as we explore new frontiers of technology and embrace the
                        dynamic
                        digital landscape. Together, we can build a secure and innovative future for all, where
                        technology
                        empowers and enriches lives. Let's collaborate to create impactful solutions that leave a
                        positive
                        and lasting impact on the world.<br>
                        <!-- featured blog section ends -->
                    </p>
                </div>
        </section>
    </section>
    <div class="mb-5"></div>
    <%- include("footer") -%>